body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgb(170, 169, 169);

}

#transaction-area{
    display: none;
}
.deposit{

    background-color: slateblue
}
.withdraw{

    background-color: lightsalmon     
}
.balance{

    background-color: orange
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}